/*RESET*/
* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
}

nav,
ol {
	list-style: none;
}

a,
button {
	text-decoration: none;
	cursor: pointer;
	opacity: 0.9;
}

/*HEADER*/
.cover {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	background-color: yellow;
	flex-direction: row;
}
.pokebola {
	width: 60px;
	margin: 0 10px;
}
.navbar {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.filter-name {
	width: 300px;
	border-radius: 5px;
	height: 40px;
	text-align: center;
	margin: 0 15px;
}
.link-menu {
	color: black;
	font-weight: bold;
	border-bottom: 1px solid black;
}
.link-menu:hover {
	color: blue;
	border-bottom: 1px solid blue;
}
.menu {
	margin: 0 15px;
	font-size: 19px;
}
.navbar:first-child {
	margin-left: 0;
}
.navbar:last-child {
	margin-right: 0;
}
.order {
	display: flex;
	flex-direction: row-reverse;
	margin: 10px 50px;
	height: 60px;
}
.option {
	width: 300px;
	border-radius: 5px;
	height: 30px;
	border: 1px solid;
	background-color: #fff;
	border-color: rgb(70, 71, 71);
}

/*CARDS */

.root {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80vw;
	height: 70vh;
	margin: auto;
	margin-bottom: 5vh;
}
.card {
	display: inline-block;
	width: 12vw;
	margin: 8px;
	padding: 6px;
	border: 1px solid silver;
	border-radius: 10px;
	margin-bottom: 5vh;
	text-align: center;
	filter: drop-shadow(0 0 0.45rem rgb(17, 17, 17));
	flex-wrap: wrap;
	background-color: rgb(253, 253, 250);
}
.card-body {
	display: inline-block;
	text-align: center;
	text-transform: capitalize;
	justify-content: flex-start;
	flex-direction: row;
}

.name {
	font-family: Arial;
	color: rgb(192, 10, 10);
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

.num {
	font-family: Arial;
	font-weight: bold;
	color: rgb(0, 0, 0);
	font-size: 15px;
	text-align: center;
	font-weight: bold;
}

.type {
	font-family: Arial;
	color: rgb(0, 0, 0);
	font-size: 15px;
	text-align: center;
	font-weight: bold;
}
.poke-info {
	border: 1px solid silver;
	border-radius: 10px;
	width: 90px;
	height: 25px;
	font-size: 15px;
	font-family: Arial;
	color: rgb(5, 20, 68);
	font-weight: bold;
	background-color: rgb(255, 255, 255);
	filter: drop-shadow(3px 3px 3px gray);
}
.poke-info:hover {
	color: green;
}
.name-pokemon {
	margin-top: 10px;
	font-size: 30px;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
	text-transform: capitalize;
}

.pokedex {
	display: flex;
	justify-content: center;
	margin-bottom: 5vh;
	margin-top: 5vh;
}

.pokedex-pokemon {
	display: flex;
	width: 45vw;
	margin-left: 10px;
	padding: 5px;
	background-color: lightgray;
	border: 1px solid #fff;
	border-radius: 10px;
	justify-content: center;
}

.pokedex-pokemon-img {
	max-width: 350px;
    max-height: 350px;
    width: auto;
    height: auto;
}

.pokedex-pokemon-about {
	display: flex;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: dodgerblue;
	color: #fff;
	width:35vw;
	border-radius: 10px;
}

.pokedex-list {
	font-size: 15px;
	font-family: Arial;

}

.info-title {
	color: black;
	font-weight: bold;
}

.info-value {
	color: #fff;
	font-weight: bold;
}

.pokedex-list-info {
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: bold;
}

.statistic {
	color: black;
	font-weight: bold;
}

.title-evolution {
	font-size: 30px;
	font-family: Arial;
	text-align: center;
	font-weight: bold;
	margin-bottom: 5vh;
}

.evolution {
	display: flex;
	margin-top: 5vh;
	margin-bottom: 5vh;
	width: 82vw;
	height: 40vh;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	background-color: gray;
	border-radius: 10px;
}

.card-evolution {
	width: 16vw;
	height: 32vh;
	align-self: center;
	border: 5px solid #fff;
	border-radius: 50%;
	text-align: center;
}

.list-evolution {
	position: relative;
	top: 10%;
	color: #fff;
	text-transform: capitalize;
}

/*FOOTER*/
.footer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: yellow;
	margin-top: 5vh;
	left: 0;
	right:0;
	bottom: 0;
	width: 100vw;
	height: 8vh;
}
.footer p {
	color: black;
	text-align: center;
	font-size: 0, 3vw;
}

@media (max-width: 600px) {
	.card-body,
	.cover,
	.navbar,
	menu {
		width: 100%;
	}
	.card {
		width: 60%;
	}

	.pokebola {
		margin-bottom: 15px;
	}
	.cover {
		margin-bottom: 30px;
	}
	.cover,
	.filter-name,
	.order,
	.navbar {
		flex-direction: column;
		margin-bottom: 10vh;
	}
	.menu {
		margin-bottom: 2vh;
		margin-top: 2vh;
	}
	.filter-name {
		width: 150px;
		margin: 5px 80px;
		font-size: 9px;
		justify-content: center;
	}
	.option {
		width: 55vw;
		font-size: 10px;
		justify-content: center;
		text-align: center;
	}
	.order {
		margin: 5px 80px;
		height: auto;
		margin-top: 15vh;
	}
	.card {
		margin: 20px 60px;
	}
	.footer {
		flex-direction: column-reverse;
		width: 100%;
		bottom: 0;
		padding: 1rem;
		margin-top: 5vh;
	}
	.footer p {
		color: black;
		text-align: center;
		font-size: 0 3vw;
	}
}

@media (min-width: 423px) and (max-width: 799px) {
	.pokedex {
		flex-direction: column;
	}
	.pokedex-pokemon {
		width: 85vw;
		height: 40vh;
		margin: auto;
		margin-bottom: 5vh;
	}
	.pokedex-pokemon-img {
		max-width: 280px;
		max-height: 280px;
		width: auto;
		height: auto;
	}
	.pokedex-pokemon-about {
		width: 85vw;
		height: 60vh;
		margin: auto;
		margin-bottom: 5vh;
	}
	.title-evolution {
		font-size: 30px;
		font-family: Arial;
		text-align: center;
		font-weight: bold;
		margin-bottom: 5vh;
	}
	.evolution {
		flex-direction: column;
		width: 80vw;
		height: 100vh;
	}
	.card-evolution {
		width:34vw;
		height: 30vh;
		margin-top: 2vh;
		align-self: center;
		border: 5px solid #fff;
		border-radius: 50%;
		text-align: center;
	}
	.card-evolution:last-child {
		margin-bottom: 2vh;
	}
	.list-evolution {
		position: relative;
		top: 10%;
		color: #fff;
		text-transform: capitalize;
	}
}

@media (min-width: 300px) and (max-width: 422px) {
	.pokedex {
		flex-direction: column;
	}
	.pokedex-pokemon {
		width: 90vw;
		height: 30vh;
		margin: auto;
		margin-bottom: 5vh;
	}
	.pokedex-pokemon-img {
		max-width: 250px;
		max-height: 250px;
		width: auto;
		height: auto;
	}
	.pokedex-pokemon-about {
		width: 90vw;
		height: 80vh;
		margin: auto;
		margin-bottom: 5vh;
	}
	.title-evolution {
		font-size: 30px;
		font-family: Arial;
		text-align: center;
		font-weight: bold;
		margin-bottom: 5vh;
	}
	.evolution {
		flex-direction: column;
		width: 90vw;
		height: 100vh;
	}
	.card-evolution {
		width:50vw;
		height: 31vh;
		margin-top: 2vh;
		align-self: center;
		border: 5px solid #fff;
		border-radius: 50%;
		text-align: center;
	}
	.card-evolution:last-child {
		margin-bottom: 2vh;
	}
	.list-evolution {
		position: relative;
		top: 1%;
		color: #fff;
		text-transform: capitalize;
	}
}